.header-container {
    background-image: url('../images/epta-bg-3.png');
}

.about {
    text-align: justify;
}

.about-content a p {
    margin: 0;
}


@media all and (max-width:576px) {
    .about {
        padding: 7%;
    }
}

@media all and (min-width: 992px) {
    .about-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .about-content div:last-child {
        margin-left: 2.5rem;
    }

    .about-content a p {
        writing-mode: vertical-rl;
        text-orientation: mixed;
    }

    .about-content a i {
        transform: rotateZ(90deg);
    }
}
