.header-container {
    background-image: url('../images/epta-bg-3.png');
}

.blog .card {
    transition-duration: 1s;
}

.blog .card:hover {
    background-color: var(--brand-color-secondary);
    color: var(--text-color);
    transform: scale(1.05, 1.05);
    cursor: pointer;
}
