.ideabrief {
    margin-top: 1rem;
}

.submit-div button {
    display: block;
    margin: 0 auto;
    width: 30%;
}

@media all and (min-width: 768px) {
    .ideabrief {
        margin-top: 2rem;
    }

    .submit-div {
        display: flex;
        align-content: center;
    }

    .submit-div button {
        margin: auto auto;
    }
}