@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@700&display=swap');

:root {
    --brand-color-primary: #ffffff;
    --brand-color-secondary: #bf0000;
    --brand-color-secondary-blur: rgba(164, 4, 4, .1);
    --barnd-color-dark: #040404;
    --text-color: #ffffff;
    --text-color-dark: #000000;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    color: var(--text-color-dark);
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}

a {
    outline: none;
    text-decoration: none;
    color: var(--brand-color-secondary);
}

main > section {
    padding: 5% 10%;
}

section h1 {
    font-size: 3.5rem;
}

.title {
    font-size: 2.5rem;
    margin: 0;
}

.dark {
    color: var(--text-color-dark);
}

.red {
    color: var(--brand-color-secondary);
}

.bold {
    font-weight: bold;
}

.white {
    color: var(--brand-color-primary);
}

.header-container {
    background-image: url('../images/epta-bg-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.header-overlay {
    background-image: linear-gradient(to right, rgba(4, 4, 4, 1), rgba(134, 0, 0, .3));
    min-height: 100vh;
}

.bg-circle, .bg-polygon {
    display: inline-block;
    position: absolute;
    width: 10rem;
    height: 10rem;
}

.bg-circle {
    background-color: rgba(234, 213, 213, .08);
    border-radius: 50%;
    top: 25%;
    right: 20%;
}

.bg-polygon {
    background-image: url('../images/poly-heptagon.svg');
    background-repeat: no-repeat;
    background-size: cover;
    top: 30%;
    left: 20%;
}

.intro {
    color: var(--text-color);
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.intro > div {
    align-self: center;
}

.animate {
    visibility: hidden;
    animation-timing-function: ease-in;
    animation-duration: 1s;
}

.enlarge {
    animation-name: anim-enlarge;
    visibility: visible;
}

.show-left {
    visibility: visible;
    animation-name: anim-show-left;
}

.show-right {
    visibility: visible;
    animation-name: anim-show-right;
}

@keyframes anim-enlarge {
    from {transform: scale(0, 0); opacity: 0;}
    to {transform: scale(1, 1); opacity: 1;}
}

@keyframes anim-show-left {
    from {transform: translateX(-200px); opacity: 0;}
    to {transform: translateX(0); opacity: 1;}
}

@keyframes anim-show-right {
    from {transform: translateX(200px);}
    to {transform: translateX(0);}
}

/*****************************************************/
/*********************** footer **********************/
/*****************************************************/
.main-footer {
    padding: 0 10%;
    padding-top: 3rem;
    background-color: var(--barnd-color-dark);
    color: var(--text-color);
}

.main-footer a {
    outline: none;
    text-decoration: none;
    color: var(--text-color);
}

.footer-elements div:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.social-media {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin: 0 auto;
    margin-top: 1rem;
    width: 0;
    justify-content: space-around;
}

.social-media li {
    padding: 0;
    margin-right: .8rem;
}

.social-media li:last-child {
    margin-right: 0;
}

.footer-elements div:nth-child(2) li {
    padding: 0.2rem;
}

/*****************************************************/
/********************* preloader *********************/
/*****************************************************/
.main-body {
    display: none;
}

.splash-section {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--barnd-color-dark);
    z-index: 2000;
}

.splash-section img {
    width: 30%;
    /* animation-name: splash-animation; */
    animation-duration: 4s;
}

.splash-fade {
    background-color: rgba(16, 16, 16, 0); 
    transition: all .5s;
    z-index: -2000;
}

@keyframes splash-animation {
    0% {transform: scale(1, 1);}
    16% {transform: scale(1.5, 1.5);}
    33% {transform: scale(1, 1);}
    50% {transform: scale(1.5, 1.5);}
    66% {transform: scale(1, 1);}
    83% {transform: scale(1.5, 1.5);}
    100% {transform: scale(1, 1);}
}

@keyframes splash-img-fade {
    from {transform: scale(1, 1) rotateZ(0deg); opacity: 1;}
    to {transform: scale(2.8, 2.8) rotateZ(-22deg); opacity: .2;}
}

@keyframes bg-anim-0 {
    from {background-image: url('../images/epta-bg-3.png');}
    to {background-image: url('../images/epta-bg-1.png');}
}

@keyframes bg-anim-1 {
    from {background-image: url('../images/epta-bg-1.png');}
    to {background-image: url('../images/epta-bg-2.png');}
}

@keyframes bg-anim-2 {
    from {background-image: url('../images/epta-bg-2.png');}
    to {background-image: url('../images/epta-bg-3.png');}
}

@media all and (min-width: 992px) {
    .splash-section img {
        width: 20%;
    }
}


/*****************************************************/
/******************* responsiveness ******************/
/*****************************************************/

/* Small devices (portrait) */
@media all and (max-width:576px) {
    section h1 {
        font-size: 2rem;
    }

    .intro {
        padding: 15% 2%;
    }

    .bg-circle, .bg-polygon {
        width: 8rem;
        height: 8rem;
    }
    
    .main-footer {
        padding: 0;
        padding-top: 2rem;
    }
}

/* Small devices (landscape), Tablets */
@media all and (max-width: 768px) {
    html {
        font-size: 14px;
    }

    section h1 {
        font-size: 2rem;
        padding-top: 2rem;
    }

    main > section {
        padding: 5%;
    }

    .header-border {
        background-image: url('../images/epta-bg-border.png');
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 5vh;
    }

    .intro h1 {
        font-size: 2em;
    }

    .bg-circle {
        top: 30%;
        right: 18%;
    }
    
    .bg-polygon {
        top: 35%;
        left: 18%;
    }

    .footer-elements div {
        margin-bottom: 1rem;
    }

    .social-media {
        width: 40%;
    }

    .social-media li {
        margin-right: 0;
    }

    .footer-logo {
        width: 80%;
    }
}

@media all and (max-width: 992px) {
    .header-container {
        background-position: 70% 50%;
    }
}
